* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-size: rem(18px);
    margin: 0;
    font-family: 'Dosis';
}

button,
a,
input {
    outline: none;
    border: none;
}

p,h1,h2,h3,h4,h5,h6{
    margin:0;
}

